.pct_name {
  float: left;
  width: 50%;
}

#pct_images {
  border: 2px darkgray solid;
  padding: 5px;
  margin-left: 25px;
}

.timeline {
  width: 50%;
}

.success {
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-color: #f8fff0;
  border: 1px solid #be7;
  margin: 6px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 50px;
  color: #234600;
}

.error {
  background-color: #fef5f1;
  background-position: 8px 8px;
  background-repeat: no-repeat;
  border: 1px solid #ed541d;
  margin: 6px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 50px;
  color: #8c2e0b;
}

.pct_outer {
  margin-top: 100px;
  text-align: center;
  float: left;
  width: 2000px;
}

.pct_inner {
  float: left;
  width: 100px;
  height: auto;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  border: 0px solid blue;
}

.pct_rotate_status {
  border: 0px solid red;
  width: 100%;
  height: 20px;
  padding-left: 0px;
  text-align: center;
  margin-bottom: 60px;
  text-align: left;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  writing-mode: bt-lr;
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.pct_rotate_date {
  border: 0px solid red;
  width: 100%;
  margin-top: 50px;
  text-align: left;
  vertical-align: middle;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  writing-mode: bt-lr;
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.red {
  width: 100%;
  background-color: red;
  height: 5px;
  padding: 1px;
  border-top: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
}

.yellow {
  width: 100%;
  background-color: yellow;
  height: 5px;
  padding: 1px;
  border-top: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
}

.black {
  width: 100%;
  background-color: black;
  height: 5px;
  padding: 1px;
  border-top: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
}

.green {
  width: 100%;
  background-color: green;
  height: 5px;
  padding: 1px;
  border-top: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
}

.pct_circle {
  float: left;
  margin-top: 118px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.pct_step {
  width: 40px;
  float: left;
  margin-top: 155px;
  font-size: 15px;
}

.pct_steps {
  text-align: center;
}

#pct_iframe {
  width: 100%;
  height: 600px;
}

#pct_infobar {
  width: 100%;
  margin: 400px 0 0 50px;
  text-align: left;
}

#pct_infobar .info {
  float: left;
  padding: 0 150px 0 10px;
}

#pct_infobar #pct_red {
  float: left;
  margin: 5px 0 5px 0;
  width: 10px;
  height: 10px;
  border: 1px solid gray;
  background-color: red;
}

#pct_infobar #pct_yellow {
  float: left;
  margin: 5px 0 5px 0;
  width: 10px;
  height: 10px;
  border: 1px solid gray;
  background-color: yellow;
}

#pct_infobar #pct_green {
  float: left;
  margin: 5px 0 5px 0;
  width: 10px;
  height: 10px;
  border: 1px solid gray;
  background-color: green;
}
